@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --branco-principal: #ffffff;
  --branco-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --fonte-principal: "Krona One", sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.principal {
  background-image: url("./images/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.secundario {
  background-color: transparent;
  border: 2px solid var(--branco-secundario);
  border-radius: 5px;
}

.container__aviso {
  font-size: 0.7rem;
}

.container__titulo {
  font-size: 1.9rem;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__caixa {
  margin: 0 6em;
}

.secundario {
  align-items: center;
  margin: 0 10em;
  border: none;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 200px;
}

.secundario__imagem {
  width: 80%;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--branco-secundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.secundario__descricao {
  padding: 2em;
}

.rodape {
  text-align: center;
}
